# binaries
/bin/
*.exe
/imu_producer
/gps_producer
/web
!/web/
!/web/register_debug.html
/calibration
/display

# Go build artifacts
*.test
*.out

# Go workspace files
go.work
go.work.sum

# Editor junk
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Calibration files
*_inertial_calibration.json
